In [6]:
import pandas as pd

import pathlib
import os
import glob

In [7]:
data_dir = pathlib.Path(os.environ["DATA_DIR"])

In [11]:
inputs = glob.glob(str(data_dir / "topolymer/processed/grid_densities_rob/*"))

In [33]:
tec_file = inputs[0]
tec_file

'/home/ian/Documents/Data/topolymer/processed/grid_densities_rob/r-7_l-20_frac-0.30_frametouch00002.tec'

In [31]:
pd.read_csv(tec_file, sep=" ", skiprows=3, header=0)

       0.000e+00  0.000e+00.1  0.000e+00.2  9.383e-01  Unnamed: 4
0         0.4233         0.00          0.0     6.1330         NaN
1         0.8466         0.00          0.0     7.9960         NaN
2         1.2700         0.00          0.0     3.3830         NaN
3         1.6930         0.00          0.0     9.7200         NaN
4         2.1160         0.00          0.0     1.3360         NaN
...          ...          ...          ...        ...         ...
35715    77.8800        79.58          0.0     0.9618         NaN
35716    78.3100        79.58          0.0     4.6870         NaN
35717    78.7300        79.58          0.0     2.5520         NaN
35718    79.1500        79.58          0.0     3.2550         NaN
35719    79.5800        79.58          0.0     1.5240         NaN

[35720 rows x 5 columns]